.oo-ui-icon-ext-chat-integration-ms-teams-icon {
	background-image: url( images/logos/msteams-grey.svg );
}

.oo-ui-icon-ext-chat-integration-slack-icon {
	background-image: url( images/logos/slack-grey.svg );
}

.oo-ui-icon-ext-chat-integration-rocket-chat-icon {
	background-image: url( images/logos/rocketchat-grey.svg );
}
