<a href="{{{url}}}" target="_blank" class="chatintegration-tag">
	{{#icon}}<img width="{{{iconSize}}}" src="{{{icon}}}" alt="{{{iconAlt}}}">{{/icon}}
	{{#label}}<span>{{{label}}}</span>{{/label}}
</a>
